body{
    background-color: rgb(5, 44, 88);
}

header.main_header{
    margin: 40;
}

ul.nav_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 0;
    width: 100%;
}

li a{
    float: left;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(47, 101, 218);
}
  


/* Carousel Animations */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
  }
  
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The bullet points */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }
  

* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; 
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
  }
  
.column.bottomleft{
    width: 50%;
    position: relative;
    bottom: 7px;
  }

.column.bottomright {
    width: 50%;
    float: right;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Scroll Wheel */
#scrollwheel{
    height:500px;
    width:370px;
    font:16px;
    overflow: scroll;
}

.signuptext{
    font-size:25px;
    text-align: center;
    color: white;
}

.signup{
    color: white;
    font-size: 20px;
    text-align: center;
}

/* Button sizing for Post form */
.buttonsubmit{
    width: 100px;
}

/*SOURCE: https://ethercycle.com/blog/305 */
/* When hovered, imgs show color */
.maps {
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

.maps:hover{
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}